.createServerPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 12px;
}

.createServerGrid {
    border-collapse: collapse;
    margin-bottom: 12px;
}

.createServerGrid td {
    padding: 4px 12px 4px 0;
    vertical-align: middle;
}

.createServerGrid td:first-child {
    width: 150px;
}

.createServerGrid td:nth-child(2) {
    width: 200px;
}

.createServerPortGrid {
    max-width: 478px;
    display: grid;
    grid-template-columns: 150px 200px 100px;
    gap: 8px 12px;
    align-items: center;
}

.createServerRow {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.createServerPageDivider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 4px;
}

.createServerPageButton {
    width: 150px;
}

.createServerPageList {
    margin: 0px;
}
