.jsonView {
    text-align: left;
    background: #0f172a;
    color: #e5e7eb;
    padding: 12px;
    border-radius: 8px;
    font-size: 13px;
    overflow-x: auto;
    white-space: pre-wrap;
}

.serverAdminPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.serverAdminPanelButtonGrid {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 8px 12px;
    align-items: center;
}

.adminPanelMessage {
    height: 20px;
    display: flex;
    flex: row;
    justify-content: start;
    text-align: start;
    margin-bottom: 8px;
}