#root {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.pageSelector {
    display: flex;
    flex-direction: row;
    gap: 12px;
}