.userTable {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 8px;
}

.userTableHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.userRow {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    padding-bottom: 4px;
}

.userRowEditing {
    background-color: #d4edda;
}

@media (prefers-color-scheme: dark) {
    .userRowEditing {
        background-color: #1a3a2a;
    }
}

.userValue {
    text-align: start;
    font-weight: 600;
    width: 150px;
}

.addUserRow {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
}
